
		<h1> For Testing </h1>
		<p id="test"></p>
<script>
	function trythis() {
		$.ajax({
			url: 'http://osmose.soedar.com/api/courses/1'
		}).done(function(data) {
			console.log(data);
			$('#test').html("DONE");
		});
	}
</script>